<div class="grid-page-container">
  <div class="grid-wrapper">
    <mat-grid-list cols="2" rowHeight="1:1" gutterSize="16px">
      <mat-grid-tile>
        <div class="tile-content blue-tile" [routerLink]="'/task'" style="cursor: pointer;">
          <h1>Gestor de Tareas</h1>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="tile-content red-tile" [routerLink]="'/workerstable'" style="cursor: pointer;">
          <h1>Tabla de Trabajadores</h1>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="back-button-container">
    <button (click)="goBack()">
      ⬅ Volver
    </button>
  </div>
</div>
